<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="2.0.0.576" targetFramework="net35" />
  <package id="FubuCore" version="1.2.0.272" targetFramework="net35" />
  <package id="NUnit" version="2.6.4" targetFramework="net35" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net35" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net35" />
</packages>